# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan

# Azure Functions
local.settings.json
.func/

# Azurite
.azurite/

# VS Code
.vscode/

# Mac
.DS_Store

# Frontend

# Backend
/src/backend/config.json

# Ref
ref/2026-01-31T15_21_16.602Z-transactions.csv
node_modules

# Go 
.go/
go-build-tmp/
.gotmp/
src-go/handler