# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
old/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan

# Azure Functions
local.settings.json
.func/

# VS Code

# Mac
.DS_Store

# Frontend
node_modules/
dist/
.swa/
