name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
        cache-dependency-path: src/backend-go/go.sum

    - name: Test
      working-directory: src/backend-go
      run: |
        go test -v ./...

    - name: Build
      working-directory: src/backend-go
      run: |
        go build -v -o handler cmd/handler/main.go
